.question-section {
    width: 80%;
    position: relative;
}

.question-count {
    margin-bottom: 10px;
}

.question-count span {
    font-size: 23px;
}

.question-text {
    margin-bottom: 12px;
}

.timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}

.answer-section button {
width: 80%;
    font-size: 12px;
    color: #fff;
    background-color: #6faae3 !important;
    border-radius: 15px;
    display: flex;
    padding: 7px 11px;
    gap: 13px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.correct {
    background-color: #2f922f;
}

.incorrect {
    background-color: #ff3333;
}

button:hover {
    background-color: #555e7d;
}

button:focus {
    outline: none;
}

button svg {
    margin-right: 5px;
}
.question-sectioncard{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    z-index: 6;
    height: 100%;
    padding: 16px 0px 15px 0px;
}