.container{
    display: flex;
    margin-top: 10px;
    background: rgb(42, 0, 109);
}


.link{
    text-decoration: none;
    color: inherit;
}
.App{
    background: rgb(140, 2, 2);
    font-family: 'Poppins', sans-serif;
}