.container{
    display: flex;
    margin-top: 10px;
    background: rgb(238, 229, 253);
}


.link{
    text-decoration: none;
    color: inherit;
}
.App{
    background: #fff;
    font-family: 'Poppins', sans-serif;
}