@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
  font-family: 'poppins', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 10px 10px;
  background: #e3ebff;
}

video {
    width: 42vw;
      height: 25vw;
      margin: 1rem;
      background: #8cc2ff;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  font-family: popins;
  font-size: 3rem;
  font-weight: 600;
}
button{
  font-family: popins;
  font-size: 1.5rem;
  font-weight: 600;
  background: #8cc2ff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 1rem;
  cursor: pointer;
}
img{
  width:100px;
}